@font-face {
    font-family: "joyza";
    src: url(../fonts/jdot.ttf);
}

/* Existing CSS code remains the same */


body {
    padding-top: 10%;
    padding-bottom: 10%;
    background-color: #000; /* Black background */
    color: #00ff00; /* Green text for retro effect */
    font-family: "joyza"; /* Use a monospaced font for retro feel */
    text-align: center;
    scale: 200%;

    h1 {
        font-size: 2em;
        margin-bottom: 20px;
    }

    .hidden-letter {
        display: inline-block;
        width: 30px;
        margin: 5px;
        font-size: 24px;
        border-bottom: 1px solid #00ff00; /* Green underline */
    }

    .guessed-letters {
        margin-top: 20px;
    }

    #remaining-guesses {
        margin-top: 20px;
        font-size: 1.2em;
    }

    .hangman{
        white-space: pre;
        font-family: monospace;
    }
}